@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    display: grid;
    border: 2px solid red;
    grid-template-rows: 4;
    grid-template-columns: 2;
    gap: 5px;
    grid-template-columns: 3fr 1fr;
}

header {
    background-color: aqua;
    height: 100px;
    grid-area: 1 / 1 / 1 / 3;
    text-align: center;
}

div.menu {
    background-color: lightcoral;
    height: 50px;
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
}

main.principal {
    background-color: lightgreen;
    height: 250px;
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}

main.secundario {
    background-color: lightskyblue;
    height: 250px;
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
}

footer {
    background-color: lightslategray;
    height: 50px;
    grid-area: 4 / 1 / 5 / 3;
    text-align: center;
}