@charset "UTF-8";

* {
    margin: 0;
}

body {
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, #1a5c38 20%, #3bd27f);
}

#cor {
    color: white;
    text-align: center;
    padding: 20px 0px;
}

#header {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

nav {
    background-color: #1a5c38;
    padding: 1px 10px;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 16px;
    margin: 0px 100px;
}

#fonte {
    color: #1a5c38;
}

p {
    text-indent: 30px;
    text-align: justify;
}

h2 {
    color: #1a5c38;
    background-image: linear-gradient(to right, #84e1ad, white);
}

img {
    display: block;
}


#video {
    background-color: #1a5c38;
}


#extra {
    background-color: #2fa866;
    color: white;
}